Import libraries
---

In [1]:
import numpy as np
import pandas as pd

---
Define functions
---

In [2]:
def check_periodic(seq):
    '''
        Function will return True if the second and first numbers in the 'number bracelet' 
        matches the last and second last numbers in the 'number bracelet' respectively.
    '''
    return seq[1] == seq[-1] and seq[0] == seq[-2]

def one_pair(a,b):
    '''
        Function will generate a 'number bracelet' given starting pairs: a, b
    '''
    seq = [a,b,(a+b)%10]
    count = 3
    while not check_periodic(seq):
        seq.append((seq[-1] + seq[-2])%10)
        count += 1
    return seq[:-2], count-2

def all_pair():
    '''
        Function will return matrix with the entries represent 
        length of 'number bracelet' of starting pairs of intersecting row and column
    '''
    pairs = np.zeros([10,10])
    for i in range(10):
        for j in range(10):
            _,pairs[i,j] = one_pair(i,j)
    return pairs

---
Computations
---

In [3]:
number_bracelet_15,_ = one_pair(1,5)
np.array(number_bracelet_15)

array([1, 5, 6, 1, 7, 8, 5, 3, 8, 1, 9, 0, 9, 9, 8, 7, 5, 2, 7, 9, 6, 5,
       1, 6, 7, 3, 0, 3, 3, 6, 9, 5, 4, 9, 3, 2, 5, 7, 2, 9, 1, 0, 1, 1,
       2, 3, 5, 8, 3, 1, 4, 5, 9, 4, 3, 7, 0, 7, 7, 4])

In [4]:
pairs = all_pair()
# Convert the matrix into pandas dataframe
df = pd.DataFrame()
for i in range(10):
    df[str(i)] = pairs[:,i] 
df

      0     1     2     3     4     5     6     7     8     9
0   1.0  60.0  20.0  60.0  20.0   3.0  20.0  60.0  20.0  60.0
1  60.0  60.0  60.0  12.0  60.0  60.0  60.0  60.0  12.0  60.0
2  20.0  12.0  20.0  60.0  20.0  60.0   4.0  60.0  20.0  60.0
3  60.0  60.0  60.0  60.0  12.0  60.0  60.0  60.0  60.0  12.0
4  20.0  60.0   4.0  60.0  20.0  60.0  20.0  12.0  20.0  60.0
5   3.0  60.0  60.0  60.0  60.0   3.0  60.0  60.0  60.0  60.0
6  20.0  60.0  20.0  12.0  20.0  60.0  20.0  60.0   4.0  60.0
7  60.0  12.0  60.0  60.0  60.0  60.0  12.0  60.0  60.0  60.0
8  20.0  60.0  20.0  60.0   4.0  60.0  20.0  60.0  20.0  12.0
9  60.0  60.0  12.0  60.0  60.0  60.0  60.0  12.0  60.0  60.0

In [5]:
print(f'length of different bracelets: {np.unique(df)}')
print(f'number of different bracelets: {len(np.unique(df))}')

length of different bracelets: [ 1.  3.  4. 12. 20. 60.]
number of different bracelets: 6

In [6]:
unique = {'1':[0,0],'3':[5,0],'4':[4,2],'12':[2,1],'20':[0,2],'60':[1,0]}

---
Check uniqueness
---

In [7]:
for i in np.unique(df):
    i = int(i)
    current1,_ = one_pair(unique[str(i)][0],unique[str(i)][1])
    for j in range(10):
        for k in np.array(df[df[str(j)] == i][str(j)].index):
            current2,_ = one_pair(k,j)
            l = 1
            while not np.array_equal(np.roll(current1,l),current2):
                l += 1
print('bracelet with same length is the same bracelet')

bracelet with same length is the same bracelet