In [1]:
import numpy as np
import pandas as pd

def check_periodic(seq):
    return seq[1] == seq[-1] and seq[0] == seq[-2]

def all_pair():
    pairs = np.zeros([10,10])
    for i in range(10):
        for j in range(10):
            seq = [i,j,(i+j)%10]
            count = 3
            while not check_periodic(seq):
                seq.append((seq[-1] + seq[-2])%10)
                count += 1
            pairs[i,j] = count
    return pairs

In [2]:
pairs = all_pair()
df = pd.DataFrame()
for i in range(10):
    df[str(i)] = pairs[:,i]

In [3]:
df

      0     1     2     3     4     5     6     7     8     9
0   3.0  62.0  22.0  62.0  22.0   5.0  22.0  62.0  22.0  62.0
1  62.0  62.0  62.0  14.0  62.0  62.0  62.0  62.0  14.0  62.0
2  22.0  14.0  22.0  62.0  22.0  62.0   6.0  62.0  22.0  62.0
3  62.0  62.0  62.0  62.0  14.0  62.0  62.0  62.0  62.0  14.0
4  22.0  62.0   6.0  62.0  22.0  62.0  22.0  14.0  22.0  62.0
5   5.0  62.0  62.0  62.0  62.0   5.0  62.0  62.0  62.0  62.0
6  22.0  62.0  22.0  14.0  22.0  62.0  22.0  62.0   6.0  62.0
7  62.0  14.0  62.0  62.0  62.0  62.0  14.0  62.0  62.0  62.0
8  22.0  62.0  22.0  62.0   6.0  62.0  22.0  62.0  22.0  14.0
9  62.0  62.0  14.0  62.0  62.0  62.0  62.0  14.0  62.0  62.0